<div id="id01" class="modal" style="display: block;">>
    <div class="modal-content animate">
        <!-- <form class="container">
            
            <label for="ipAddress"><b>Ip Address:</b></label>
            <input type="text" name="ipAddress" placeholder="Enter Ip Address" [(ngModel)]="newIpDetails.ipAddress"><br>
            <label for="ipDescription"><b>Description:</b></label>
            <input type="text" name="ipDescription" placeholder="Enter Description"
                [(ngModel)]="newIpDetails.ipDescription"><br>
            <button type="submit" class="registerbtn" (click)="addIpPremission()">Save</button><br>
        </form> -->
        <!-- <form class = "w3-container ">
            <div class = "w3-group">
               <input class = "w3-input" type = "text" style = "width:90%" >
               <label class = "w3-label">User Name</label>
            </div>
            
            <div class = "w3-group">
               <input class = "w3-input" type = "text" style = "width:90%" required>
               <label class = "w3-label">Email</label>
            </div>
        </form> -->

        <form class="w3-container w3-card-2 w3-center w3-padding w3-margin" [formGroup]="premission" (ngSubmit)="addIpPremission()">
            <h1>Add Ip Premission:</h1>

            <div class="w3-padding">
                <div class="w3-row w3-group">
                    <input id="float-input" type="text" size="30" pInputText formControlName="ip" class="w3-input"
                        [ngClass]="{ 'is-invalid':  f.ip.errors }" placeholder="Enter Ip Address">

                    <div style="height: 30px;">
                        <div *ngIf="f.ip.touched && f.ip.errors" class="invalid-feedback">
                            <small style="color:red" *ngIf="f.ip.errors.required">ip is required</small>
                            <small style="color:red" *ngIf="f.ip.errors.pattern">Invalid ip address </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-padding">
                <div class="w3-row">

                    <input type="text" size="30" pInputText formControlName="desc" class="w3-input"
                        placeholder="Enter Description">

                </div>
            </div>
            <button type="submit" class="registerbtn" [disabled]="!premission.valid" class="w3-btn w3-center w3-blue" >Save</button><br>

        </form>
    </div>
</div>