
<body class="w3-center" style="padding-top: 5%;">
    <div class="ui-g-2"></div>
    <p-table *ngIf="load" [value]="wlservice.IpList" [paginator]="true" [rows]="10" dataKey="id" editMode="row" class="ui-g-8">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>IpAddress</th>
                <th>Description</th>
                <th style="width:8em"></th>
                <th style="width:8em"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-deleting="deleting" let-ri="rowIndex">
            <tr [pEditableRow]="rowData">
                <td>
                    {{rowData.id}}
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.ipAddress" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.ipAddress}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.ipDescription">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.ipDescription}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">

                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                </td>
                <td style="text-align:center">
                    <button *ngIf="!deleting" pButton type="button" pInitDeleteableRow icon="pi pi-trash" class="ui-button-info"
                        (click)="deleting=!deleting" ></button>
                    <button *ngIf="deleting" pButton type="button" pSaveDeleteableRow icon="pi pi-check" class="ui-button-success"
                        style="margin-right: .5em" (click)="Delete(rowData)" ></button>
                    <button *ngIf="deleting" pButton type="button" pCancelDeleteableRow icon="pi pi-times" class="ui-button-danger"
                        (click)="deleting=!deleting" ></button>
                    <!-- <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                    (click)="onRowEditCancel(rowData, ri)"></button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
<button pButton (click)="add()" >add new premission</button>
<div class="ui-g-32"></div>

</body>

<router-outlet></router-outlet>

